html, body {
	margin: 0;
	padding: 0;
	font: 13px/20px 'Cousine', monospace;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	background: #f5f5f5;
	color: #1f2026;
}

a {
	text-decoration: none;
	border-bottom: 2px solid #1f2026;
	color: #1f2026;
}

a:hover {
	border-bottom: 2px solid #004ADF;
	color: #0142C4;	
}

#container {
	max-width: 750px;
	margin: 48px auto;
	padding: 0 24px;
}

.bold {
	font-weight: 600;
}

.header-block {
	margin-bottom: 1.5rem;
}

.textfield {
	max-width: 40rem;
	max-width: 600px;
}

.image-container {
	margin: 64px 0 64px;
}

.image-container:first {
	margin: 48px 0 40px;
}

.image-container img {
	width: 100%;
}

@media (max-width: 800px) {
	#container {
		margin: 24px auto 48px;
	}
}